/* Google Font Import */
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General Styles */

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Russo One', sans-serif;
    color: #3a3a3a;
}

h1, h2, h3 {
    font-family: 'Russo One', sans-serif;
    text-transform: uppercase;
}

.hide {
    display: none;
}

header {
    background-color: #ffffff;
    padding: 0 1rem;
    position: fixed;
    z-index: 100;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}

#menu {
    list-style-type: none;
    font-size: 120%;
    
}

#menu > li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

nav {
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%;
}

/* Nav toggle */

#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

 #logo {
    font-size: 280%;
    line-height: 75px;
    margin: 0 0.5rem;
 }

/* Main Content */

main {
    flex: 1 0 auto;
    margin-top: 4.7rem;
    
}

#hero {
    width: 100%;
    height: 600px;
    background: url("images/heroimage.jpg") no-repeat center center/cover;
    position: relative;
}

#cover-text {
    background-color: rgba(162, 7, 1, .7);
    font-size: 175%;
    position: absolute;
    bottom: 30px;
    width: 68%;
    min-height: 200px;
    padding-top: 40px;
    padding-left: 10px;
    
}

#cover-text > h2, #cover-text > h3 {
    color: #ffffff;
}

/* About */
#about {
    margin: 20px auto;
    max-width: 400px;
}



#about > h2 {
    font-size: 250%;
    text-align: center;
}

#about > div > p {
    font-size: 150%;
    text-align: center;
}

/* Location */

#location {
    margin: 20px auto;
}

#location > h2 {
    margin-top: 50px;
    font-size: 250%;
    text-align: center;
}

#location > iframe {
    margin: auto;
    margin-top: 30px;
    margin-bottom: 40px;
    display: block;
    min-width: 175px;
    min-height: 300px;
}

/* Exercises */

#exercises {
    line-height: 0%;
    margin: 20px auto;
}


#exercisesh2 {
    font-size: 2.5vw;
    font-size: 4vmin;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 30px;
}

#exercises iframe {
    margin: auto;
    width: 50%;
    line-height: 1em;
    display: block;
    height: auto;
    margin-bottom: 10px;
}

/* Signup Section */

#signupbg {
    background: url("images/signupbg.jpg") ;
    background-size: cover;
    background-position: 50%;
    padding:20px 10% 0 10%;
    flex-grow: 5;
}

#signup-form {
    color: #ffffff;
    background-color: rgba(162, 7, 1, .7);
    padding: 30px;
}

#signup-form>h2 {
    color: #fafafa;
    margin-bottom: 20px;
}

.text-input {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
    padding: 0 5px;
}

.join-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px;
    font-size: 100%;
    background-color: #3a3a3a;
    color: #fafafa;
    font-family: 'Russo One', sans-serif;
}

/* Footer Content */
footer {
   border-top: 2px solid #3a3a3a;;
}

#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: #3a3a3a;
}

/* Media Query - Phones (280px - 500px) */
@media screen and (min-width:280px) and (max-width:500px) {

    /* Location */

    #location>iframe {
        margin: auto;
        margin-top: 30px;
        margin-bottom: 30px;
        display: block;
        max-width: 200px;
        min-height: 300px;
        }
    
    /* Exercises */
    
    #exercises iframe {
        width: 95%;
    }

    
}

/* Sizes 0px - 353px */
@media screen and (min-width:0px) and (max-width:353px) {

    /* Main Content */

    main {
        margin-top: 8rem;
        }
    
    /* Form */

    #signup-form {
        margin-top: 30px;
        margin-bottom: 30px;
        }
}

/* Sizes 500px - 768px */
@media screen and (min-width: 500px) and (max-width:768px) {

    /* Exercises */

    #exercises iframe {
        width: 95%;
        height: 500px;
        }

    
}

/* Media Query - Tablet sizes + (768px +) */
@media screen and (min-width:768px) {
    /* Header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
        }
    
    #menu {
        display: flex;
    
        }
    
    #menu>li {
        padding-left: 1rem;
        }
    
    .nav-toggle-label {
        display: none;
        }
    
    /* Main Content */

    main {
        flex: 1 0 auto;
        margin-top: 4.7rem;
        }

    #cover-text {
        width: 300px;
        right: 50px;
         }
    
    /* About */
    
    #about {
        margin: 20px auto;
        max-width: 1000px;
        }
    
    /* Location */
    
    #location>iframe {
        margin: auto;
        margin-top: 30px;
        margin-bottom: 30px;
        display: block;
        width: 600px;
        height: 600px;
        }

    /* Exercises */

    #exercises iframe {
        width: 95%;
        height: 500px;
        }

    /* Form */
    #signup {
        background-position: center;
        position: relative;
         }
    
    #signup-form {
        max-width: 900px;
        position: absolute;
        left: 10%;
        top: 150px;
         }
    
    .text-input:hover {
        border-color: #3a3a3a;
         }
    
    .join-button:hover {
        background-color: #fafafa;
        color: #3a3a3a;
         }
}

/* Media Query: Screen sizes 992 and larger */
@media screen and (min-width: 992px) {
    #menu a:hover {
        border-bottom: 1px solid #3a3a3a;
    }
}

/* Media Query: Screen sizes 1200px and larger */

@media screen and (min-width: 1200px) {

    /* Location */

    #location>iframe {
            margin: auto;
            margin-top: 30px;
            margin-bottom: 30px;
            display: block;
            width: 1000px;
            height: 600px;
        }

    /* Exercises */
    
    #exercises {
        column-count: 3;
        
    }

    
}