/* Google Font Import */
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General Styles */

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    color: #3a3a3a;
}

h1, h2, h3 {
    font-family: 'Russo One', sans-serif;
    text-transform: uppercase;
}

header {
    background-color: #ffffff;
}

main {
    background-color: green;
    flex: 1 0 auto;
}

footer {
    background-color: red;
}